:host {
    padding: 5px 15px;
    border: solid 1px #ddd;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .count,
  button {
    color: #777;
  }
  
  button {
    margin: 0px;
    padding: 5px 10px;
    background: none;
    border: none;
    cursor: pointer;
  }