<div class="container">
    <app-header></app-header>
    <app-todo-search (search)="onSearch($event)"></app-todo-search>
    <section class="main">
      <app-todo-list
        [tasks]="tasks$ | async"
        (remove)="onRemove($event)"
        (view)="selectedId = $event"
        (stateChange)="onStateChange($event)"
      ></app-todo-list>
    </section>
    <app-footer></app-footer>
  </div>
  
  <div class="container">
    <app-todo-form (save)="onSave($event)"></app-todo-form>
  </div>
  
  <ng-container *ngIf="selectedId">
    <hr />
    <div class="container">
      <app-todo-detail [id]="selectedId"></app-todo-detail>
    </div>
  </ng-container>