:host {
    display: block;
  }
  
  nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  span {
    color: green;
    font-weight: bold;
    font-size: 20px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  li,
  li > a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    cursor: pointer;
  }
  
  li > a:hover {
    color: rgba(0, 0, 0, 0.7);
  }