:host {
    display: block;
  }
  
  .form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-item > label {
    flex: 0 0 150px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  
  .form-item > input {
    flex: 1 0 auto;
    padding: 5px 10px;
    font-size: 20px;
  }
  
  .form-item,
  .form-action {
    height: 40px;
  }
  
  .form-action {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .form-action button {
    margin: 0;
    padding: 5px 10px;
    border: solid 1px #aaa;
    background: none;
    cursor: pointer;
  }