body {
  margin: 0px;
  padding: 0px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

div.container {
  margin: 0px auto;
  width: 550px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 100px;
  color: rgba(175, 47, 47, 0.15);
}

input[type="checkbox"] {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.form {
  border: solid 1px #ddd;
}

.form form {
  display: flex;
  background-color: white;
  align-items: center;
}

.form input {
  margin: 0px;
  margin-left: 15px;
  padding: 10px 20px;
  border: none;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4em;
}

.main {
  border: solid 1px #ddd;
  border-bottom: none;
}

.main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.main > ul > li {
  padding: 10px 15px 10px 5px;
  border-bottom: solid 1px #ededed;
  color: #777;
  font-size: 28px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}

.main button {
  font-size: 25px;
  color: #cc9a9a;
}

footer {
  padding: 5px 15px;
  border: solid 1px #ddd;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.completed {
  text-decoration: line-through;
}

.count,
button {
  color: #777;
}

button {
  margin: 0px;
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
}