:host {
  display: block;
  padding: 10px 15px 10px 5px;
  border-bottom: solid 1px #ededed;
  color: #777;
  font-size: 28px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}
span > button {
  margin-right: 5px;
}
span.completed {
  text-decoration: line-through;
}

span.finish-date {
  font-size: 14px;
  margin-left: 10px;
}

button.delete {
  margin: 0px;
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #cc9a9a;
}